<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new Fruit</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>create a new fruit</h1>
    <form action="/fruits" method="POST">
      <label for="name">Name of Fruit</label>
      <input type="text" name="name" id="name" />

      <label for="isReadyToEat">Ready to Eat?</label>
      <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />

      <button type="submit">Add Fruit</button>
    </form>
  </body>
</html>
